<forms-template>
	<organism-alert-notification 
		*ngIf="alertNotificationVisible"
		[status]="alertStyle" 
		[text]="alertText" 
		[onClose]="closeAlertNotification">
	</organism-alert-notification>

	<sign-up-form (resgisterEvent)="registerUser($event)"></sign-up-form>

	<molecule-banner
		title="My Control Cash"
		description="Cadastre-se gratuitamente 
		na melhor plataforma de 
		controle financeiro!"
		imageURL="../../../assets/imgs/ManPointingUp.svg"
		imageAlt="Imagem login"
		position="right">
	</molecule-banner>
</forms-template>