<form [formGroup]="signUpForm">
	<h2>Crie sua conta gratuitamente</h2>

	<molecule-input-container>
		<input formControlName="name" type="text" placeholder="Nome">
	</molecule-input-container>

	<molecule-input-container>
		<input formControlName="patrimony" type="number" placeholder="Patrimônio">
	</molecule-input-container>

	<molecule-input-container>
		<input formControlName="email" type="email" placeholder="Email">
	</molecule-input-container>

	<molecule-input-container>
		<input formControlName="password" type="password" placeholder="Senha">
	</molecule-input-container>

	<molecule-input-container>
		<input formControlName="confirmPassword" type="password" placeholder="Confirme sua senha">
	</molecule-input-container>

	<div *ngIf="signUpForm.touched && !signUpForm.valid">
		<molecule-message *ngIf="signUpForm.touched && signUpForm.errors?.['anyInputNotFilled']" message="Preencha todos os campos"></molecule-message>
		<molecule-message *ngIf="signUpForm.get('email')?.errors?.['email'] && signUpForm.get('email')?.touched" message="Insira um e-mail válido"></molecule-message>
		<molecule-message *ngIf="signUpForm.get('password')?.errors && signUpForm.get('password')?.touched" message="A senha deve ter pelo menos 8 caracteres"></molecule-message>
		<molecule-message *ngIf="signUpForm.errors?.['passwordsAreNotEquals'] && signUpForm.get('confirmPassword')?.touched" message="As senhas devem coincidir"></molecule-message>
	</div>

	<atom-button [isLoading]="isLoading" (click)="registerButtonClick()" buttonText="Cadastre-se"></atom-button>

	<p>Já possui uma conta? <a href="Login">Faça login</a></p>
</form>
