.spinner {
    height: 1.5rem;
    aspect-ratio: 1 / 1;

    border: 3px solid transparent;
    border-top-color: var(--secondaryColor);
    border-right-color: var(--secondaryColor);
    border-radius: 50%;

    animation: infinite 1s spinner;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}