<main>
	<section>
		<h1>Obtenha melhores resultados financeiros com o <span>MyControlCash</span></h1>
		<p>Nosso objetivo é auxiliar nossos clientes para otimizarem o seu lucro gratuitamente, através de um maior controle de suas finanças. Assim, fornecemos gráficos e tabelas com todas as operações do cliente para que ele possa assim, analisar e encontrar a melhor forma de aumentar o seu patrimônio.</p>
		<atom-button style="width: 30%;" routerLink="/SignUp" buttonText="Cadastre-se"></atom-button>
	</section>

	<section>
		<img src="../../../assets/imgs/Woman.svg" alt="Imagem moça apontando">
	</section>
</main>
