.container {
	user-select: none;
	height: 100%;

	& h3 {
		font-size: 1.1rem;
		font-weight: 500;
	}
}

.menu {
	display: flex;
	flex-direction: column;
	position: absolute;

	margin-top: .5rem;
	padding-block: .5rem;

	background-color: var(--secondaryColor);
	border-radius: 15px;
	
	padding: 1rem;

	& h3 {
		cursor: pointer;
	}

	& .options {
		padding-block: .5rem;
	}

	& .applyButton {
		height: 2.5rem;
		padding: .5rem 0;
	}
}