form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;

	gap: 1.8rem;

	width: 32%;

	> *:not(.forgotPassword, h2) {
		width: 100%;
	}

	& > div {
		display: flex;
		flex-direction: column;

		gap: 1rem;
	}

	& .forgotPassword {
		margin: -1rem 0 0 auto;
	}

	& h2 {
		width: 170%;
		font-size: 2rem;
		font-weight: 700;
		color: var(--primaryColor);
	}

	& a {
		color: var(--primaryColor);
	}
}