div {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: .7rem;

	background-color: var(--lightGray);
	border-radius: 10px;
}

div .iconify {
	font-size: 1.3rem;
}

.fill {
	height: 100%;
	aspect-ratio: 1 / 1;

	& > .iconify{
		font-size: 1.8rem !important;
	}
}