<section class="container">
	<organism-balance-controller 
		(addNewTransactionClick)="newTransactionEmmit($event)"
		[patrimony]="patrimony">
	</organism-balance-controller>

	<span class="triangle"></span>

	<div>
		<organism-last-operation 
			type="PAYMENT"
			[percent]="lastTransactions.lastPayment.percent"
			[value]="lastTransactions.lastPayment.amount">
		</organism-last-operation>

		<hr>

		<organism-last-operation 
			type="EXPENSE"
			[percent]="lastTransactions.lastExpense.percent"
			[value]="lastTransactions.lastExpense.amount">
		</organism-last-operation>
	</div>
</section>