<organism-header></organism-header>
<template-main-dashboard *ngIf="userData$ | async as userData">
	<organism-dashboard-resume 
		*ngIf="lastTransactions$ | async as lastTransactions" 
		[patrimony]="userData.patrimony" 
		[lastTransactions]="lastTransactions">
	</organism-dashboard-resume>
	<statement-template [operations]="userData.transactions"></statement-template>
	
	<div class="statementButton">
		<atom-button buttonText="Histórico completo"></atom-button>
	</div>
</template-main-dashboard>