:host {
	display: flex;
	flex: 1;
}

section {
	flex: 1;
	display: grid;
	grid-template-rows: auto 1fr;
}

section header {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-block: 1rem;	

	border-radius: 15px;
	background-color: var(--lightGreen);
	color: var(--primaryColor);

	width: 100%;
	height: min-content;
}

section h2 {
	margin-left: 2.5rem;
	font-size: 1.3rem;
	font-weight: 700;
	
	text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

section h2.EXPENSE {
	color: var(--red);
}

section h2.PAYMENT {
	color: var(--primaryColor);
}

main {
	flex: 1;
}

main div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	padding-block: 1.2rem;

	&:nth-child(even) {
		background-color: #D9D9D9;
		border-radius: 16px;
	}
}

atom-button {
	justify-self: end;
	margin-top: 1rem;
}

atom-skeleton {
	display: flex;

	width: 100%;
	height: 4rem;

	margin-block: .5rem;
}


.noOperations {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
	color: var(--darkGray);
}

.noOperations .iconify {
	font-size: 4rem;
}